* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
  }
  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ddd;
  }
  #start-btn {
    font-size: 18px;
    padding: 100px 60px 60px 60px ;
    margin-top: 30px;
    border-radius: 10px;
    background:url("../image/thanos-logo.png") white 15px no-repeat;
    background-size: 80px;
  }
  .dust {
    position: absolute;
  }